<div class="container">
  <div>
  <h2 class="mt-4">All Wollentiers</h2>
  </div>
<br>
  <div class="row row-cols-12 row-cols-md-4 g-4">
    <% @volunteers.each do |volunteer| %>
      <%= render partial: 'offers/volunteer_card_index', locals: { user: volunteer}  %>
    <% end %>
  </div>
</div>
