<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://content.magnumphotos.com/wp-content/uploads/2016/05/cortex/nyc94317-photographer-featured.jpg);">
  <h1 class="container">Find your volunteer <br> job in Berlin.</h1>
</div>
