      <div class="card-group">
        <div class="card h-100 card-style" style="width: 18rem;">
          <%= link_to organization_path(organization) do %>
          <div class="card-body-organizations">
            <div class="d-flex align-items-center flex-column">
              <img src="<%= organization.logo_url %>" class="card-organization-logo avatar-bordered pt-4" />
              <p class="card-district pb-2 pt-4"><strong><%= organization.name %></strong></p>
            </div>
          </div>
        <% end %>
        </div>
      </div>
