<div class="container">
  <h1>Applications</h1>
  <div class="container d-flex">
<% @applications.each do |application| %>
  <div class="card-group">
  <div class="card h-100 card-style" style="width: 18rem;">
    <div class="card-body">
      <div class="card-badge">
        <span><%= application.offer.category %></span>
      </div>
      <p class="card-title"><strong><%= application.title %></strong></p>
      <p class="card-frequency"><%= application.message.slice(0..70) %></p>
      <img src="<%= application.offer.organization.logo_url %>" class="card-offer-logo avatar-bordered" />
    </div>
  </div>
<% end %>
</div>

<%# <% current_user.applications.each do |application| %>
    <%# <div class="card border-dark mb-3" style="max-width: 18rem;">
      <div class="card-header"> Header</div>
      <div class="card-body text-dark">
        <h5 class="card-title"><% application.title %></h5>
        <%# <p class="card-text"><% application.description %></p>
      <%# </div>
    </div> %>

