  <section id="main" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Connecting Wollentiers in Berlin</h2>
          <p data-aos="fade-up" data-aos-delay="100">We are here to connect dedicated people with jobs to help build a better world blablabla something super duper deep and meaningful about life in general and how great it is to help. </p>

          <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="Keyword or ZIP code">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>

          <!-- Top Categories -->
          <!-- maybe include jobs listed with purecounter -->
          <!-- buttons on home can be styled in _buttons_front.scss -->
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa-solid fa-children"></i><br>Kids
                </button>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa-solid fa-person-cane"></i><br>Seniors
                </button>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa-solid fa-handshake"></i><br>Refugees
                </button>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
                <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa-solid fa-heart-pulse"></i><br>Health
                </button>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-2 col-6">
              <div class="stats-item text-center w-100 h-100">
              <a href="index.html">
                <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa-solid fa-rectangle-list"></i><br>Browse all
                </button>
              </div>
            </div>
            <!-- End Stats Item -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Main Section -->
