.application-container {
  height: 75px;
  width: 100%;
  background-color: white;
  // margin-bottom: 10px;
  margin-top: 8px;
  border-radius: 4px;
}


.application-tag-user {
  padding: 4px 8px 0px 8px;
  border-radius: 16px;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  font-family: $headers-font;
}

  .application-tag-pending {
    margin: 20px 20px;
    padding-bottom: 1px;
    background-color: #d2e0e8;
    color: rgb(114, 114, 114);
    // border: 1px rgb(114, 114, 114) solid;
  }

  .application-tag-accepted {
    margin: 20px 20px;
    padding-bottom: 1px;
    background-color: #c4f0db;
    // border: 1px $success-green solid;
    color: $success-green;
  }


  .application-tag-rejected {
    margin: 20px 20px;
    padding-bottom: 1px;
    background-color: #f3c8cc;
    // border: 1px $danger-red solid;
    color: $danger-red;
  }

  .job-detail-container {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .application-title {
    font-size: 16px;
    color: $w-dblue;
    text-decoration: none;
    font-weight: 700;
    font-family: "Inter", "sans-serif";
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
