.application-container {
  height: 75px;
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 8px;
}


.application-tag-user {

  padding: 2px 5px 0px 5px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  top: -300px;
  right: 0;
}

  .application-tag-pending {
    margin: 20px 20px;
    padding-bottom: 1px;
    background-color: #e9e0e0;
    color: rgb(114, 114, 114);
    border: 1px rgb(114, 114, 114) solid;
  }

  .application-tag-accepted {
    margin: 20px 20px;
    padding-bottom: 1px;
    background-color: #c4f0db;
    border: 1px $success-green solid;
    color: $success-green;
  }


  .application-tag-rejected {
    margin: 20px 20px;
    padding-bottom: 1px;
    background-color: #f3c8cc;
    border: 1px $danger-red solid;
    color: $danger-red;
  }
