.container .d-flex {
  justify-content: center;
}

.offer {
  height: 300px;
  overflow: hidden;
}

.offer-img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%
}

.card-style {
  border-style: none;
  a {
    text-decoration: none;
  }

  &:hover {
    border: 1px #000000 solid;

  }

}
.card {
  border: 1px #ffffff solid
}

.card-title {
  font-size: 18px;
  color: #000000;
  text-decoration: none;

}

.card-subtitle {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #cbcbcb;
  text-decoration: none;
}

.card-body {
  position: relative;
  box-sizing: border-box;
  height: 300px;
}

.card-body-show-org {
  position: relative;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 18px;
  color:#000000;
}

.card-body p {
  font-size: 18px;
  padding: 5px 10px;
  // font-size: larger;
  color:#000000
}

.card-frequency {
  margin-top: 50px;
  position: absolute;
  bottom: 1px;
}

.card-body .card-offer-logo {
  position: absolute;
  right: 24px;
  top: 14px;
  // width: 40px;
}

.card-offer-logo-show {
  position: absolute;
  right: 16px;
  top: 6px;
  width: 65px;
}

.card-offer-logo-show-banner {
  position: absolute;
  right: 304px;
  top: 260px;
  width: 200px;
  height: 140px;
  background-color: white;
  object-fit: contain;

}

.card-badge {
  background-color: #d7f1ff;
  border-radius: 0  150px 150px 0;
  color: #119fee;
  font-weight: bold;
  margin-left: -1rem;
  width:65%;
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size-adjust:0.5;
}

.card-badge-mdutra {
  background-color: #d7f1ff;
  border-radius: 0  150px 150px 0;
  color: #119fee;
  font-weight: bold;
  margin-left: 0px;
  width: 20%;
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-right: 0.2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size-adjust:0.5;
}

.card-label {
  font-size: 10px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  padding-top: 8px;
}

.card-date {
  margin: none;
  font-size: 16px;
}


.applications {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;

  .application-left {
    display: flex;
    align-items: center;
  }

  .application-actions {
    display: flex;
    align-items: center;
  }
  .application-tag {
    margin: 1px 4px;
    padding: 2px 5px 0px 5px;
    background-color: #bfbfbf;
    color: white;
    border-radius: 8px;
    font-weight: lighter;
    font-size: 12px;
  }
}

.applications-info {
  display: flex;
  flex-direction: column;
  margin-left: 8px;

  .applications-info-title {
    font-weight: bolder;
    font-size: 1.2em;
  }

  .applications-info-details {
    font-weight: lighter;
  }
}

.btn-info {
  background-color: #7CE577;
  border: none;
  --bs-btn-hover-bg: #3df733
  ;
}

.btn-light {
  border: none;
  --bs-btn-hover-bg: #f99a9c
  ;
}

.h2 {
  margin: 5px;
  padding: 5px;
}

.card-district {
  font-size: 12px;
  color: #a1b5c1;
}

.district-style {
  font-size: 14px !important;
  color: #839faf !important;
}
