.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: white;

  &:hover {
    color: #7d829c;
  }
}

.nav-link {
  color: white;
}

.navbar-item {
  color: white;

  &:hover {
    text-decoration: underline;

  }
}

.container-fluid a li {
  color: white;
}

.navbar-container {
  transition: all 0.5s;
  z-index: 997;
  padding: 30px 0;
  background-color: #119fee;
}

.header.sticked {
  background: rgba(14, 29, 52, 0.9);
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(14, 29, 52, 0.1);
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: #fff;
  font-family: var(--font-primary);
}

.content-container {
  margin-bottom: 100px;
}

.btn-warning {
  background-color: #fb8500;
  color: white;
  margin-right: 5px;
}

.btn-outline-light {
  margin-right: 5px;
}
