
.navbar {
  background-color: $w-blue;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 25px
}

.navbar-brand {
  color: white;
  font-weight: 1000;
  font-family: $headers-font;
  font-size: 26px;
}

.navbar_links_container {
  width: 100%;
}

.nav-link {
  color: $w-blue;
  font-weight: 600;
  font-family: $headers-font;


  &:hover {
    text-decoration:underline;
    color: $w-dblue;
    cursor: pointer;
    // text-decoration: underline;
  }

  // &:active {
  //   background-color: $w-blue;
  //   padding: 4px;
  // }
}

.main-nav-link {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  font-family: $headers-font;
  margin-left: 20px;
  text-decoration: none;

  &:hover {
    color: #ffffff;
    // text-decoration: underline;
  }
}

.nav-spacing {
  margin-left: 60px;
}

.dropdown-item {
  font-family: $headers-font;
}

.avatar {
  border: white 2px solid;
}


.container-fluid a li {
  color: white;
}

.navbar-container {
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  background-color: #119fee;
  // position: fixed;
  height: 75px;
  width: 100%;
}

.content-container {
  background-color: #EAF0F3;
}

.btn-outline-light {
  margin-right: 5px;
}
