<div class="container">
  <div>
  <h2 class="pt-4">All Organizations in Berlin</h2>
  </div>
<br>
  <div class="row row-cols-12 row-cols-md-4 g-4">
    <% @organizations.each do |organization| %>
      <%= render partial: 'shared/card_organization', locals: { organization: organization}  %>
    <% end %>
  </div>
</div>
